body{  /*We set up our body Styles*/
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a {/*Quiero que todas las etiquetas ancla no tengan esta decoracion*/
    text-decoration: none;
    cursor: pointer;
}
header {
    width: 100%;  /*Todo el ancho de nuestra pantalla*/
    height: 60px; /*altura*/

}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{ /*Somos mas especificos al dar style*/
    width: 250px;
    height: auto;  /*como ya definimos en su padre header height 60px ponemos auto*/
    display: flex;
    list-style: none;/*le quitamos los bulets de las listas ul*/
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
}

nav .nav-right-section .menu-icon {
    /*boton del menu del parte superior derecha*/
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /*Para que el tamaño de la imagen se adapte al contedor*/
    width: 25px;
    height: 25px;
}
nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
}
main{
    margin-top: 150px;
    text-align: center; /*Centra el contenido de nuestra etiqueta main*/
}
main .main-logo {
    width: 530px;
    margin: 0 auto; /* divide el espacio /2 lo que hace es cetrar el contenido*/
    margin-bottom: 35px;
}
main .main-logo img {
    width: 300px;
}
main .main-input {
    width: 530px;
    margin: 0 auto; /* divide el espacio /2 lo que hace es cetrar el contenido*/
    margin-bottom: 35px;
}
main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex; /*Me permite colocar los elementos de manera lineal*/
    justify-content: center;
    align-items: center;   /*Alinea los elementos de manera centrada*/
}
main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none; /*Nos sirve para quitar el borde generado cuando damos click a un input */

}
